div(
  class="paasb-searchbox",
  data-search-box="true"
)
  paasb-search-box-filtering(
      search="Search",
      filters="paasbSearchBoxFiltering",
      ng-if="paasbSearchBoxFiltering && paasbSearchBoxFiltering.length"
  )
  div(class="paasb-searchbox-wrapper")
    i(
      class="fa",
      ng-class="{ 'fa-search': !searchParams.query.length, 'fa-trash': ((searchParams.query && searchParams.query.length) || hasFilters) }",
      ng-click="handleGarbage();"
    )
    paasb-search-box-cache-filter(
      ng-if="paasbSearchBoxCacheFilter"
    )
    i(
      class="fa fa-cog fa-spin",
      ng-class="{ 'no-cache-filtering': !paasbSearchBoxCacheFilter }"
    )
    input(
      type="text",
      ng-model="query",
      id="{{searchInputId}}"
    )
    paasb-search-box-auto-complete(
      query="searchParams.query",
      config="paasbSearchBoxAutoComplete",
      input="input",
      ng-if="autoCompleteEnabled"
    )
