div(class="paasb-searchbox")
  div(class="paasb-searchbox-wrapper")
    i(
      class="fa",
      ng-class="{ 'fa-search': !searchParams.query.length, 'fa-trash': searchParams.query && searchParams.query.length }",
      ng-click="handleGarbage();"
    )
    input(
      type="text",
      ng-model="searchParams.query",
      placeholder="{{placeholder}}",
      id="{{searchInputId}}"
    )
  paasb-search-box-filtering(
      search="Search",
      filters="paasbSearchBoxFiltering",
      ng-if="paasbSearchBoxFiltering && paasbSearchBoxFiltering.length"
  )
