div(class="paasb-searchbox")
  paasb-search-box-filtering(
      search="Search",
      filters="paasbSearchBoxFiltering",
      ng-if="paasbSearchBoxFiltering && paasbSearchBoxFiltering.length"
  )
  div(class="paasb-searchbox-wrapper")
    i(
      class="fa",
      ng-class="{ 'fa-search': !searchParams.query.length, 'fa-trash': ((searchParams.query && searchParams.query.length) || hasFilters) }",
      ng-click="handleGarbage();"
    )
    input(
      type="text",
      ng-model="query",
      placeholder="{{placeholder}}",
      id="{{searchInputId}}"
    )
    paasb-search-box-auto-complete(
      query="searchParams.query",
      ng-if="autoCompleteEnabled"
    )
