div(
  class="paasb-filtering paasb-clearfix"
)
  span(
    ng-click="toggleFilters();",
    ng-class="{ 'active': active }"
  )
    i(class="fa fa-filter")
  ul(ng-hide="!active")
    li(
      ng-repeat="filter in filters",
      data-filter-name="{{filter.name}}",
      ng-class="{ 'child-filter': filter.child, 'root-filter': filter.root }",
      ng-click="addFilter($event);",
      ng-if="filter.notFiltered"
    )
      i(class="fa fa-filter")
      span(
        ng-bind="filter.displayName",
        class="filter-display-name"
      )
      span(
        ng-bind-html="Utils.trust(filter.filteredFrom)",
        class="filtered-from"
      )
