div(
  class="paasb-searchbox-filter-selectors",
  ng-class="{ 'loaded' : !filter.loading }",
  ng-hide="!filter.editing"
)
  ul(
    paasb-auto-size="filter",
    paasb-auto-size-type="selector",
    class="paasb-searchbox-filter-selectors-list",
  )
    li(
      ng-repeat="selector in availableSelectors",
      ng-class="{ 'active': selector.selected }",
      ng-click="takeSelector(selector);"
    )
      span(ng-bind="selector.name")
