div(
  class="paasb-auto-complete-container",
  ng-hide="!autoSuggestions.length"
)
  p Most Popular Suggestions
  ul
    li(
      ng-repeat="suggestion in autoSuggestions",
      ng-click="takeAutoComplete(suggestion.value);"
    )
      span(
        class="suggestion-value", 
        ng-bind="suggestion.value"
      )
      span(
        class="suggestion-count",
        ng-bind-html="Utils.trust(' - Suggested <b>' + suggestion.suggestedCount + '</b> times')"
      )
