div(
  class="paasb-searchbox-added-filter",
  ng-click="openFilter();"
)
  span(ng-bind="filter.displayName + ':'")
  span(
    class="selector-type",
    ng-bind="filter.selector.name",
    ng-if="filter.selector"
  )
  span(
    ng-bind="filter.value",
    ng-hide="filter.editing"
  )
  input(
    type="text", 
    ng-model="value",
    ng-hide="!filter.editing"
  )
  span(ng-hide="!filter.loading") Loading...
  paasb-search-box-filter-selectors(
    filtering="filtering",
    filter="filter"
  )
  div(ng-if="filter.suggestedValues")
    ul(
      ng-hide="!filter.editing",
      paasb-auto-size="filter",
      ng-if="!filter.loading"
    )
      li(
        ng-repeat="suggestion in filter.suggestedValues | suggest: filter.value:filter"
        ng-click="takeSuggestion(suggestion.value)"
      )
        span(ng-bind-html="Utils.trust(suggestion.modified)")
  i(
    class="fa fa-times",
    ng-click="destroy();"
  )
