div(
  class="paasb-searchbox-added-filter",
  ng-click="openFilter();"
)
  span(ng-bind="filter.displayName + ':'")
  span(
    ng-bind="filter.value",
    ng-hide="filter.editing"
  )
  input(
    type="text", 
    ng-model="filter.value",
    ng-hide="!filter.editing"
  )
  ul(ng-hide="!filter.editing")
    li(
      ng-repeat="suggestion in filter.suggestedValues | suggest: filter.value:filter"
      ng-click="takeSuggestion(suggestion.value)"
    )
      span(ng-bind-html="Utils.trust(suggestion.modified)")
  i(
    class="fa fa-times",
    ng-click="destroy();"
  )
